.about {
  padding: 70px 0;
  background-color: var(--main-bg-color);
}

.about__title {
  font-size: 35px;
  line-height: 41px;
  color: var(--main-color);
  padding-right: 2px;
  margin: 0 0 26px;
}

.about__subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  padding-right: 3px;
  color: var(--main-color);
  margin: 0 0 34px;
}

.about__subtitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-right: 23px;
  background-color: var(--main-color);
}

.about__subtitle:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 43px;
  height: 2px;
  margin-left: 23px;
  background-color: var(--main-color);
}

.about__text {
  font-size: 18px;
  line-height: 25px;
  padding-right: 2px;
  color: var(--main-color);
  text-align: center;
  max-width: 724px;
  margin: 0 0 60px;
}

.about__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0;
  counter-reset: count 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 196px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  color: var(--main-color);
}

.about__item:before {
  content: counter(count);
  font-size: 57px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 122px;
  height: 122px;
  align-self: center;
  background-color: var(--color-cobalt-light);
  margin: 0 0 16px;
  counter-increment: count;
}

.about__input {
  display: none;
}

.about__controls {
  display: none;
}


@media (max-width: 1080px) {
  .about__title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 23px;
  }

  .about__subtitle {
    font-size: 20px;
    line-height: 24px;
    padding-right: 4px;
    margin: 0 0 33px;
  }

  .about__subtitle:before {
    width: 40px;
    margin-right: 20px;
  }

  .about__subtitle:after {
    width: 40px;
    margin-left: 20px;
  }

  .about__text {
    font-size: 16px;
    line-height: 21px;
    max-width: 635px;
    margin: 0 0 62px;
    
  }

  .about__item {
    flex-basis: 180px;
    font-size: 18px;
    line-height: 24px;
    padding-right: 2px;
  }

  .about__item:before {
    font-size: 52px;
    line-height: 61px;
    width: 104px;
    height: 104px;
    margin-bottom: 30px;
  }
}


@media (max-width: 880px) {
  .about__title {
    font-size: 28px;
  }

  .about__subtitle {
    font-size: 18px;
  }

  .about__list {
    flex-wrap: nowrap;
  }

  .about__list {
    gap: 20px;
  }

}


@media (max-width: 780px) {
  .about {
    padding: 50px 0;
  }

  .about__title {
    font-size: 24px;
    text-align: center;
    margin: 0 0 20px;
  }

  .about__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .about__text {
    font-size: 14px;
    max-width: 530px;
  }

  .about__list {
    flex-wrap: wrap;
    column-gap: 95px;
  }

}



@media (max-width: 530px) {
  .about__list {
    column-gap: 20px;
  }
}



@media (max-width: 410px) {
  .about {
    padding: 31px 0 60px;
  }

  .about__container {
    position: relative;
  }

  .about__title {
    font-size: 20px;
    line-height: 23px;
    padding: 0 0 0 5px;
    max-width: 271px;
    margin: 0 0 17px;
  }

  .about__subtitle {
    padding: 0 0 0 2px;
    margin: 0 0 30px;
  }

  .about__subtitle:before {
    margin-right: 26.7px;
    height: 1px;
    width: 19.73px;
  }

  .about__subtitle:after {
    margin-left: 26.7px;
    height: 1px;
    width: 19.73px;
  }

  .about__text {
    font-size: 12px;
    line-height: 17px;
    padding-right: 3px;
    max-width: 275px;
    margin: 0 0 40px;
  }

  .about__sliders {
    max-width: 180px;
    overflow: hidden;
  }

  .about__list {
    flex-wrap: nowrap;
    width: 400%;
    justify-content: stretch;
    gap: 0;
    transition: margin-left .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .about__item {
    flex-basis: auto;
    width: 25%;
  }

  .about__input1:checked ~ .about__sliders .about__list {
    margin-left: 0;
  }

  .about__input2:checked ~ .about__sliders .about__list {
    margin-left: -100%;
  }

  .about__input3:checked ~ .about__sliders .about__list {
    margin-left: -200%;
  }

  .about__input4:checked ~ .about__sliders .about__list {
    margin-left: -300%;
  }

  .about__controls {
    display: block;
    position: absolute;
    bottom: 72px;
    left: 0;
    width: 100%;
    padding: 0 15px;
  }

  .about__input1:checked ~ .about__controls .about__label:nth-child(2),
  .about__input2:checked ~ .about__controls .about__label:nth-child(3),
  .about__input3:checked ~ .about__controls .about__label:nth-child(4),
  .about__input4:checked ~ .about__controls .about__label:nth-child(1) {
    background: url("../images/right-arrow.svg");
    float: right;
    display: block;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.05);
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .about__input1:checked ~ .about__controls .about__label:nth-child(4),
  .about__input2:checked ~ .about__controls .about__label:nth-child(1),
  .about__input3:checked ~ .about__controls .about__label:nth-child(2),
  .about__input4:checked ~ .about__controls .about__label:nth-child(3) {
    background: url("../images/left-arrow.svg");
    float: left;
    display: block;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.05);
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}
