.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-phone__tel {
  font-size: 23.85px;
  line-height: 1.192;
  color: inherit;
  margin-bottom: 3px;
  text-decoration: none;
  transition: color .3s ease-in;
  outline: none;
}

.contacts-phone__tel:hover, .contacts-phone__tel:focus {
  color: #14b5da;
}

.contacts-phone__tel:active {
  color: #0f758b;
}

.contacts-phone__link {
  max-width: max-content;
  line-height: 1.188;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: color .3s ease-in, border-color .3s ease-in;
}

.contacts-phone__link:hover, .contacts-phone__link:focus {
  color: #14b5da;
  border-color: #14b5da;
}

.contacts-phone__link:active {
  color: #0f758b;
  border-color: #0f758b;
}

.contacts-phone__icon {
  display: none;
}

@media (max-width: 1080px) {
  .contacts__logo {
    max-width: 60px;
  }

  .contacts-phone {
    padding-right: 2px;
  }

  .contacts-phone__tel {
    font-size: 21px;
    margin-bottom: 8px;
  }

  .contacts-phone__link {
    font-size: 13px;
  }

}


@media (max-width: 780px) {
  .contacts__logo {
    max-width: 50px;
  }

  .contacts-phone__tel {
    font-size: 18px;
  }
}


@media (max-width: 560px) {
  .contacts__logo {
    max-width: 40px;
  }

  .contacts-phone__tel {
    font-size: 16px;
  }

  .contacts-phone__link {
    font-size: 12px;
  }
}


@media (max-width: 470px) {
  .contacts__logo {
    max-width: 30px;
  }

  .contacts-phone {
    padding: 0;
  }

  .contacts-phone__tel {
    margin: 0;
  }

  .contacts-phone__number {
    display: none;
  }

  .contacts-phone__link {
    display: none;
  }

  .contacts-phone__icon {
    display: block;
  }
}
